#########################TUPLE######################

###Python program to create a tuple of numbers and print one item.

In [1]:
n=(23,4,55,32,3,1)
print(n[2])

55

###Python program to unpack a tuple into several variables.

In [4]:
n=(23,4,55,32,3,1)
a,b,c,d,e,f = n
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
print("e=",e)
print("f=",f)

a= 23
b= 4
c= 55
d= 32
e= 3
f= 1

###Python program to add an item to a tuple at index number 2.

In [6]:
n=(23,4,55,32,3,1)

n_list=list(n)
n_list.insert(2,66)

n=tuple(n_list)
print("New Tuple =",n)

New Tuple = (23, 4, 66, 55, 32, 3, 1)

###Python program to convert a tuple to a string.

In [8]:
tuple1=("A","b","d","e","l","r","a","h","m","a","n")
str1=''.join(tuple1)
print(str1)
print(type(str1))

Abdelrahman
<class 'str'>

###('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's') => 'exercises'

In [15]:
e=('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
st=''.join(e)
print(st)

exercises

###Python program to find repeated items in a tuple.

In [19]:
t2=(2,3,4,2,5,3,5,7,3,5,7)
reapeated=set([item for item in t2 if t2.count(item) > 1])
print("reapeated item =",reapeated)

reapeated item = {2, 3, 5, 7}

###Python program to remove an item from a tuple.

In [2]:
t=(2,3,44,2,4,5)
t_list=list(t)
removing=t_list.pop(2)
t=tuple(t_list)
print(t)

(2, 3, 2, 4, 5)

###Python program to reverse a tuple.

In [3]:
t=(1,2,3,4,5,6,7)
reversed_t=t[::-1]
print(reversed_t)

(7, 6, 5, 4, 3, 2, 1)

###Python program to replace the last value of tuples in a list.

In [4]:
l=[(1,3,4),(2,4,5),(4,4,7),(8,7,9)]
last_tuple=l[-1]
print(last_tuple)
t_new=last_tuple + (120,)
l[-1]=t_new
print(t_new)
print(l)

(8, 7, 9)
(8, 7, 9, 120)
[(1, 3, 4), (2, 4, 5), (4, 4, 7), (8, 7, 9, 120)]

#########################LIST############################

###Create a list of your favorite fruits. Add another fruit to the end of the list using append().

In [5]:
fruit=["Mango","apple","orange"]
fruit.append("banana")
print(fruit)

['Mango', 'apple', 'orange', 'banana']

###Create two lists of numbers, then extend the first list by adding all elements from the second list using extend()

In [6]:
l1=[2,3,4,5,]
l2=[6,7,8,9]

l1.extend(l2)
print(l1)

[2, 3, 4, 5, 6, 7, 8, 9]

###insert(index, item) Start with a list of colors. Insert a new color at the second position (index 1).

In [7]:
colors=["black","grey","blue"]
colors.insert(1,"red")
print(colors)

['black', 'red', 'grey', 'blue']

###Create a list of city names with some duplicates. Use remove() to delete the first occurrence of a city

In [8]:
cities=["giza","cairo","fayoum","cairo","banha"]
cities.remove("cairo")
print(cities)

['giza', 'fayoum', 'cairo', 'banha']

###pop(index) Make a list of your favorite animals. Use pop() to remove the animal at the third position and store it in a variable.

In [10]:
animals=["dog","cat","frog","cow","eagle"]
removed_animal=animals.pop(2)
print("remoced animal:", removed_animal)
print("updated list:", animals)

remoced animal: frog
updated list: ['dog', 'cat', 'cow', 'eagle']

###Create a list of random numbers, then clear it using clear().

In [11]:
num=[2,3,7,2,7,8,2,9]
num.clear()
print(num)

[]

########################DICTIONARY########################

###Create a dictionary of country capitals. Use get() to retrieve the capital of 'France', with a default value if itâ€™s not in the dictionary.

In [19]:
country_capitals={
    "egypt":"cairo",
    "usa":"washington",
    "germany":"berlin"
}
capital_of_france=country_capitals.get("france","capital not found")
print("capital of france: ",capital_of_france)

capital of france:  capital not found

###Make a dictionary of programming languages and their popular frameworks. Use keys() to get a list of all languages.

In [25]:
lang_frameworks={
    "python":"django",
    "java":"spring",
    "PHP":"Laravel"
}
languages=list(lang_frameworks.keys())
print(languages)

['python', 'java', 'PHP']

###Using the previous dictionary, get a list of all frameworks using values().

In [26]:
languages=list(lang_frameworks.values())
print(languages)

['django', 'spring', 'Laravel']

###Use items() to get a list of all key-value pairs in a dictionary representing items and their prices.

In [28]:
item_prices={
    "laptop":10000,
    "mobile":20000,
    "ipad":5000
}
item_list=list(item_prices.items())
print(item_list)

[('laptop', 10000), ('mobile', 20000), ('ipad', 5000)]

###Create a dictionary with some initial values, and then use update() to add more items.

In [29]:
item_prices={
    "laptop":10000,
    "mobile":20000,
    "ipad":5000
}

additionals={
    "tablets":7000
}

item_prices.update(additionals)
print(item_prices)

{'laptop': 10000, 'mobile': 20000, 'ipad': 5000, 'tablets': 7000}

###Remove an item from a dictionary of students by using pop(), then store the popped value in a variable.

In [31]:
students_grades={
    "ahmed":10,
    "mostafa":9,
    "ali":7.5
}
popped_item=students_grades.pop("mostafa")
print("removed grade",popped_item)
print("updated student grades",students_grades)

removed grade 9
updated student grades {'ahmed': 10, 'ali': 7.5}

###Create a dictionary and use clear() to remove all items.

In [32]:
students_grades={
    "ahmed":10,
    "mostafa":9,
    "ali":7.5
}
students_grades.clear()
print(students_grades)

{}