### Python program to add an item to a tuple.

In [3]:
t_1=(1,2,3,4,5,6,7)
added=8

t_2=t_1+ (added,)
print(t_1)
print (t_2)

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7, 8)

### Python program to sum all the items in a list.

In [4]:
L=[1,2,3,4,5,6,7,8,9]
sum=0
for i in L:
    sum +=i
print(sum)

45

### Python program to multiply all the items in a list.

In [7]:
L=[1,2,3,4,5,6,7,8,9]
multiplication=1

for i in L:
    multiplication *= i
print(multiplication)

362880

### Python program to get the smallest number from a list.

In [ ]:
L=[2,3,32,5,6,22,3,1,6,7]
smallest_num= min(L)
print(smallest_num)

1

### Python program to get the largest number from a list.

In [9]:
largest_num=max(L)
print(largest_num)

32

### Python program to count the number of strings from a given list of strings.

In [10]:
Str_1=["ahmed","Mostafa",22,"Abdelrahman",45,"Python"]
count=0

for item in Str_1:
    if isinstance (item,str):
        count += 1

print("number if string in list is :",count)

number if string in list is : 4

### Python program to clone or copy a list

In [14]:
original=[1,2,2,3,5,6,2]
copied=original.copy()
print("Original list is :" , original)
print("copied list is :" , copied)

Original list is : [1, 2, 2, 3, 5, 6, 2]
copied list is : [1, 2, 2, 3, 5, 6, 2]

### Python program to remove item(s) from a given set.

In [18]:
set_1={1,2,3,4,2,3,4}
set_1.remove(3)
print(set_1)

{1, 2, 4}

### Python program to check if a set is a subset of another set.

In [19]:
set_3={2,3,4,5,6,7}
set_4={2,3,4,2,5}

subset=set_4.issubset(set_3)

print(subset)

True

### Python program to remove all elements from a given set.

In [20]:
set_1={2,3,4,5,6,7,8}
set_1.clear()
print(set_1)

set()

### Python program to find the maximum and minimum values in a set.

In [21]:
set_5={33,4,55,2,3,4,77,123,312}
max_value=max(set_5)
min_value=min(set_5)
print("maximum value = ",max_value)
print("minimum value = ",min_value)

maximum value =  312
minimum value =  2

### Python program to find the index of an item in a tuple.

In [25]:
t_1=(2,3,4,2,33,4,22,3)
item=7
if item in t_1:
    index=t_1.index(item)
    print (index)
else:
    print("not found")

not found

### Python program to convert a tuple to a dictionary.

In [27]:
new_tuple=((1,2),("a",3),(4,"b"))
my_dict=dict(new_tuple)
print(my_dict)

{1: 2, 'a': 3, 4: 'b'}

### Python program to unzip a list of tuples into individual lists

In [28]:
list_of_tuples=[(1,2),(3,4),(5,6),(7,8)]
list_1 , list_2 =zip(*list_of_tuples)
print(list_1)
print(list_2)

(1, 3, 5, 7)
(2, 4, 6, 8)

### Python program to reverse a tuple.

In [30]:
Nn=(1,2,3,4,5)
reversed_tuple=Nn[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

### Python program to convert a list of tuples into a dictionary.

In [31]:
list_of_tuples_1= [("a", 1), ("b", 2), ("c", 3)]
dicts=dict(list_of_tuples_1)
print(dicts)

{'a': 1, 'b': 2, 'c': 3}

### Python program to replace the last value of tuples in a list.

In [33]:
Sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
modif_list=[]
for tup in Sample_list:
    modif_list.append((tup[0],tup[1],100))
print (modif_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### Python program to sort a tuple by its float element.

In [35]:
tuple_list3= [(1, 2.5), (3, 1.2), (5, 4.8), (7, 3.3)]
sorted_list=sorted(tuple_list3, key=lambda x:x[1])
print(sorted_list)

[(3, 1.2), (1, 2.5), (7, 3.3), (5, 4.8)]